#hero {
  h4 {
    margin-bottom: 150px;
  }

  h1 {
    font-size: 65px;
    line-height: 70px;
    font-weight: 700;
  }

  button {
    font-weight: 600;
    font-size: larger;
  }

  .icon-circle {
    width: 60px;
    height: 60px;
  }

  .triangle-dots {
    width: 80px;
    height: 60px;
    background-image: radial-gradient(#000000 1.2px, transparent 0);
    background-size: 10px 10px;
    clip-path: polygon(0 0, 100% 0, 50% 100%);
    opacity: 0.3;
  }
}
