@import url("./hero.scss");
@import url("./webcam.scss");

section {
  padding: 75px 0;
}

.max-width-fit {
  max-width: fit-content;
}

.timeline-bar {
  width: 75% !important;
  height: 7px !important;
  background-color: black;
  left: 50%;
  top: 32px;
  transform: translate(-50%, -50%);
}

.about-image {
  height: 400px;
  width: 550px;
}

.cursor-pointer {
  cursor: pointer;
}
